{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title text-center">Ваш аккаунт</h2>
            <hr>
            <p class="mb-2">Ваше имя пользователя: <strong>{{ current_user.username }}</strong></p>
            <p class="mb-2">Всего задач: <strong>{{ total_tasks }}</strong></p>
            <p class="mb-3">Верно решенных: <strong>{{ solved_tasks }}</strong></p>
            <div class="text-center">
                <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3 mb-3">&larr; На главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}