<!DOCTYPE html>
<html>
<head>
    <title>Щелкунчик</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Щелкунчик</h1>
        <nav class="nav-auth">
            {% if current_user.is_authenticated %}
                <span class="nav-username">Привет, {{ current_user.username }}! У тебя {{ current_user.solved_tasks }} решенных задач</span>
                {% if current_user.username == "admin" %}
                    <a href="{{ url_for('manage_categories') }}" class="btn btn-login">Категории (admin)</a>
                    <a href="{{ url_for('manage_tasks') }}" class="btn btn-login">Задачи (admin)</a>
                {% endif %}
                <a href="{{ url_for('leaderboard') }}" class="btn btn-leaderboard">Рейтинг</a>
                <a href="{{ url_for('logout') }}" class="btn btn-logout">Выйти</a>
            {% else %}
                <a href="{{ url_for('leaderboard') }}" class="btn btn-leaderboard">Рейтинг</a>
                <a href="{{ url_for('login') }}" class="btn btn-login">Войти</a>
                <a href="{{ url_for('register') }}" class="btn btn-register">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
